* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  background-color: royalblue;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

a {
  color: #00B7FF;
}